body {
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
 overflow-x: hidden;
}
.nav > li {
    font-size: 19px;
  padding: 14px;
  font-family: serif;
}
.text-center > h1 {
  font-family: serif;
  font-size: 70px;
  padding-top: 100px;
  padding-bottom: 20px;

}
.d-grid > button {
  font-size: 30px;
  font-family: serif;
  color: black;
}
p {
    font-size: 12px;
  padding-top: 12px;
  font-family: sans-serif;
}
.first_section {
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  min-height: 100vh;
}

.link {
  color: black !important;
}
.text-end > button {
  font-size: 15px;
  font-family: serif;
}


.learner > h5 {
  font-size: 25px;
  text-align: start;
  font-family: sans-serif;
}
.learner > div {
  padding: 15px;
}
.d-grid > button {
  padding: 15px;
  background-color: rgb(154, 189, 234);
  font-size: 30px;
  font-family: serif;
}
.d-grid>.last{
  padding: 5px;
  background-color: rgb(154, 173, 234);
  font-size: 15px;
  font-family: serif;
}
h5 {
  font-family: sans-serif;
}
.col-6 ul li {
  font-family: sans-serif;
  font-size: 15px;
}
.d-flex > p {
  font-family: sans-serif;
}
.d-flex>a{
  color: black;
}
.img-fluid{
  height: 400px !important;
}
.row{
  display: flex;
  justify-content: center;
  justify-items: center;
  min-height: 100vh;
}
/* Attaching Responsiveness to the website 

Mobile Devices: 319px—480px
iPads and Tablets: 481px—1200px
Laptops: 1201px—1600pxDesktops: 1601px and more */

@media (min-width: 319px) and (max-width: 480px) {
  .nav > li {
    font-size: 16px;
    padding: 7px;
  }
  .text-center > h1 {
    font-size: 40px;
    padding-top: 0;
    padding-bottom: 20px;
  }
  .d-grid > button {
    padding: 13px;
    font-size: 20px;
    color: black;
  }
  .col-6 > h5 {
    font-size: 15px;
  }
  .col-6 ul li {
    font-size: 12px;
  }
  .display-5{
    text-align: center;
  }
  h6{
    text-align: center;
  }
  .img-fluid{
    height: 200px !important;
  }
}
@media (min-width: 481px) and (max-width: 1200px) {
  .nav > li {
    font-size: 16px;
    padding: 7px;
  }
  .text-center > h1 {
    
    padding-top: 0;
    padding-bottom: 20px;
  }
  .d-grid > button {
    padding: 13px;
    font-size: 20px;
    color: black;
  }
  
  .display-5{
    text-align: center;
  }
  h6{
    text-align: center;
  }
  
}